<header class="navbar-fixed">
    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo">
                <img src="img/logotec.png" alt="Logo">
            </a>
            <ul class="hide-on-med-and-down">
                <li>Restaurante</li>
            </ul>
        </div>
    </nav>
</header>