<ul id="slide-out" class="sidenav sidenav-fixed center">
    <li>
        <a href="/">
            <i class="material-icons">restaurant</i>
            <p>Mesas</p>
        </a>
    </li>
    <li>
        <a href="/clientes">
            <i class="material-icons">person_add</i>
            <p>Clientes</p>
        </a>
    </li>
    <li>
        <a href="/productos">
            <i class="material-icons">fastfood</i>
            <p>Productos</p>
        </a>
    </li>
</ul>