<div id="modalEliminar" class="modal">
    <div class="modal-content">
        <h4>Eliminar contenido</h4>
        <p>¿Esta seguro de que desea eliminar?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-green btn-flat">Eliminar</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>