<div id="modalProductos" class="modal">
    <div class="modal-content">
        <h4>Productos</h4>
        <form class="row">
            <div class="input-field col s12">
                <input type="text" name="clave">
                <label for="cave">Clave</label>
            </div>
            <div class="input-field col s6">
                <select name="tipo">
                    <option value="" disabled selected>Tipo</option>
                    <option value="H">Platillo</option>
                    <option value="M">Mujer</option>
                </select>
                <label for="tipo">Tipo</label>
            </div>
            <div class="input-field col s6">
                <input type="text" name="descripcion">
                <label for="descripcion">Descripcion</label>
            </div>
            <div class="input-field col s12">
                <input type="text" name="precio">
                <label for="precio">Precio</label>
            </div>
            <div class="col 12 right">
                <button type="submit" class="waves-effect waves-light btn-small green">Guardar</button>
                <button type="reset" class="waves-effect waves-light btn-small red">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>