<div id="modalMesas" class="modal">
    <div class="modal-content">
        <h4>Mesas</h4>
        <form class="row" action="" method="POST">
            <div class="input-field col s6">
                <input type="text" name="num_mesa">
                <label for="num_mesa">Numero de mesa</label>
            </div>
            <div class="input-field col s6">
                <select name="capacidad">
                    <option value="4" selected>4</option>
                    <option value="6">6</option>
                </select>
                <label for="capacidad">Capacidad</label>
            </div>
            <div class="input-field col s12">
                <textarea name="descripcion" class="materialize-textarea"></textarea>
                <label for="descripcion">Descripcion</label>
            </div>
            <div class="col 12 right">
                <button type="submit" class="waves-effect waves-light btn-small green">Guardar</button>
                <button type="reset" class="waves-effect waves-light btn-small red">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>